.navigation{
    background-color: var(--color1);
    color: white;
    padding: 1rem;
    grid-row: span(1);
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navigation > * {
    width: 35px;
    height: 35px;
    opacity: 70%;
    padding: 10px;
}

.navigation > *:hover{
    background-color: var(--green);
    border-radius: 3px;
    color: black;
}