.header{
    background-color: var(--color1);
    color: white;
    padding: 1rem;
    font-family: var(--fonte-titulo);
    grid-row: span(1);
    grid-column: 1 / 3;
}

@media screen and (min-width: 268px) and (max-width: 960px){
    .header{
        grid-row: span(1);
        grid-column: 1 / 2;
    }
}