:root{
  --fonte-secundaria: 'Roboto', sans-serif;
  --fonte-principal: 'Poppins', sans-serif;
  --fonte-titulo: "Noto Sans Mono", monospace;
  --color1: #202020;
  --green: #B8FF00;
  --blue: #146eb3 ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}